/////////////////// bar ///////////////////
.bar {
  margin: 0;
  padding: 12rem;
  background-image: linear-gradient(to right bottom, #4c90bbb2, #64b1d5a2),
    url(../img/group2.jpg);
  background-size: cover;
  background-position: top;
}

.content {
  padding: 15vh 5%;
  h1 {
    font-size: 40px;
    line-height: 70px;
    font-weight: 700;
    position: relative;

    &::before {
      content: "";
      bottom: 0;
      left: 0;
      border-bottom: 3px solid $primary-color;
      position: absolute;
      width: 70px;
    }
  }

  p {
    margin-top: 4rem;
    font-size: 1.6rem;
    text-align: justify;
    color: $color-write;
  }
}
