/////////////////// bar ///////////////////
.bar {
  margin: 0;
  padding: 22rem 10rem 8rem 10rem;
  background-image: linear-gradient(to right bottom, #4c90bbb2, #64b1d5a2),
    url(../img/banner.webp);
  background-size: cover;
  background-position: bottom;

  @media only screen and (max-width: 600px) {
    padding: 22rem 10rem 6rem 10rem;
  }
}

.content {
  padding: 15vh 5%;
  h1 {
    font-size: 40px;
    line-height: 70px;
    font-weight: 700;
    position: relative;

    &::before {
      content: "";
      bottom: 0;
      left: 0;
      border-bottom: 3px solid $primary-color;
      position: absolute;
      width: 70px;
    }
  }

  p {
    margin-top: 4rem;
    font-size: 1.6rem;
    text-align: justify;
    color: $color-write;
  }
}

.history__img {
  padding: 0;
  margin: 0;
}
