///////////////// NewBar ////////////////////

.newbar {
  color: $color-white;
  &__result {
    background-color: #06ad99;
    padding: 4rem;
    h1 {
      text-align: center;
      font-weight: 400;
      font-size: 3rem;
      line-height: 4.5rem;
      text-transform: uppercase;
      span {
        font-weight: 700;
        text-decoration: underline;
        margin-left: 5px;
      }
    }
    &-content {
      text-align: center;
      text-transform: uppercase;

      h2 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 5rem;
      }

      p {
        font-size: 1.5rem;
        letter-spacing: 2px;
        line-height: 3rem;
      }
    }
  }

  &__goals {
    background-color: rgb(235, 203, 82);
    padding: 3rem;

    h1 {
      text-align: center;
      font-weight: 400;
      font-size: 3rem;
      line-height: 4.5rem;
      text-transform: uppercase;
    }
    ul {
      li {
        border-bottom: 1px dotted $color-white;
        margin-top: 2px;
        text-transform: capitalize;
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &__donate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d55c47;
    padding: 3rem;
    text-align: center;
    h3 {
      font-size: 2rem;
      font-weight: 300;
      letter-spacing: 3px;
      line-height: 2rem;
      text-transform: uppercase;
    }
    h1 {
      font-size: 3rem;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 3.5rem;
    }
    .btn-check {
      &:link,
      &:visited {
        margin-top: 1.5rem;
        padding: 1rem 2rem;
        text-align: center;
        display: inline-block;
        font-size: 1.4rem;
        line-height: 1.4rem;
        background-color: var(--color-black-dark);
        border-radius: 4rem;
        text-decoration: none;
        color: $color-white;
      }
    }
  }
}

////////////////// About /////////////////

.about {
  padding: 10vh 10%;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $primary-color-back;
    padding: 5vh 4%;
    color: $color-white;

    h1 {
      span {
        font-weight: 700;
      }
    }
    p {
      font-size: 1.3rem;
      padding: 0;
      margin: 0;
    }
  }

  &__write {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;

    p {
      padding: 0;
      margin: 0;
      font-size: 1.4rem;
      color: $color-write;
      span {
        a {
          color: $primary-color;
          display: block;
          margin-top: 5px;
          &:hover {
            color: $secondary-color;
          }
        }
      }
    }
  }
}

///////////// Cause ////////////////
.cause {
  padding: 15vh 12%;
  background-color: $color-bg;
  & .card {
    margin-top: 5vh;
    border: none;
    overflow: hidden;
    padding: 0;
    text-align: center;
    background-color: $color-bg;

    ///added extra class for making white space between the cards
    & .card-bg {
      @media only screen and (max-width: 767px) {
        width: 100%;
      }
      border-radius: 10px;
      width: 95%;
      overflow: hidden;
      background-color: $color-white;

      &:hover {
        background-color: $primary-color-back;
        & .card-text {
          color: $color-white;
        }
        & .card-body {
          color: $color-white;
        }
        & .card-body::before {
          background-color: $secondary-color;
        }

        & .btn-read {
          background-color: $secondary-color;
        }
      }
    }
    img {
      padding: 15px;
    }
    &-body {
      padding: 20px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        padding: 2px 40px;
        background-color: $primary-color-back;
        top: 27.5%;
        right: 35%;
        width: 30%;
      }
    }
    &-title {
      margin-top: 1rem;
      font-size: 20px;
      line-height: 20px;
    }

    &-text {
      margin-top: 4rem;
      color: $color-write;
    }
  }
}

///////////// NewBar2 ///////////////

.newbar2 {
  background-color: $primary-color-back;
  color: white;
  text-align: center;
  padding: 60px 8%;
}

///////////// Story and Choose //////////////

.story {
  &__img {
    margin: 0;
    padding: 0;
    img {
      width: 100%;
      height: 100%;
      transition: all 0.3s;
      &:hover {
        transform: scale(1.2);
      }
    }

    overflow: hidden;
  }
  &__content {
    background-color: $color-bg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5vh 10%;
    p {
      margin-top: 2rem;
    }
    a {
      align-self: flex-start;
    }
  }
}

/////////// staffs ///////////////

.staff {
  padding: 15vh 0;

  a {
    float: right;
    margin-right: 40px;
    @media only screen and (max-width: 600px) {
      float: left;
      margin-left: 40px;
    }
  }
}

////////////// News //////////////

.news {
  padding: 10vh 15%;
  .btn {
    float: right;

    @media only screen and (max-width: 600px) {
      float: left;
    }
  }
  &__content {
    &-1 {
      cursor: pointer;
      margin: 0;
      padding: 0;
      position: relative;
      overflow: hidden;
      transition: all 0.3s;
      &:hover {
        & img {
          transform: scale(1.1);
        }
        & .news__content-1--item {
          transform: translateY(0px);
        }
      }

      &:after {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        background-color: rgba(0, 0, 0, 0.8);
        transition: all ease;
      }

      &:hover:after {
        width: 100%;
        height: 100%;
      }

      img {
        transition: all 0.3s;
      }
      &--item {
        padding: 10px;
        color: $color-white;
        position: absolute;
        top: 33%;
        left: 10%;
        transition: all 0.5s;
        @media only screen and (max-width: 1200px) {
          transform: translateY(0px);
          padding: 0;
          top: 20%;
        }
        transform: translateY(180px);
        z-index: 1000;
        h1 {
          font-size: 3rem;
          line-height: 37.5px;
          font-weight: 700;
        }
        p {
          margin-top: 4rem;
          font-size: 1.4rem;
          line-height: 27.2px;
        }
      }
    }
  }
}

////////////// message //////////////
.message {
  padding: 10vh 10%;
  background-color: $color-bg;

  &__content {
    margin: 5vh 0;
    &--img {
      margin: 0;
      padding: 120px;
      background-image: url(../img/president.jpg);
      background-size: cover;
      background-position: top;
    }
    &--letter {
      padding: 40px;
      p {
        span {
          text-transform: uppercase;
          display: block;
          text-decoration: underline;
          font-weight: 600;
        }
        margin: 0;
        padding: 0;
        font-size: 1.3rem;
      }
    }
  }
}
